html, body {
  background-color: #222 !important;
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.input-wrapper {
  width: 60%;
  margin: 50px auto;
  position: relative;
}

.input-wrapper::after {
  content: attr(data-text);
  font-size: 1.5rem;
  line-height: 0;
  height: 0;
  max-width: 100%;
  font-family: Roboto, Arial, sans-serif;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  overflow: hidden;
  user-select: none;
  color: transparent;
}

input {
  color: #ddd;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
  width: auto;
  min-width: 100%;
  line-height: 3em;
  font-family: Roboto, Arial, sans-serif;
  border-bottom: 3px solid #333333;
  background-color: transparent;
}

footer {
    background: #2B2D42 !important;
    color: #EDF2F4;
    width: 100%;
    padding: 1rem 1.5rem 1rem !important;
}

#avatar {
    border-radius: 200px;
    width: 90px;
    height: auto;
}
#avatar-title {
    padding-top: 25px;
}
#links {
    min-width: 400px;
}
.icons a {
    margin: 0 25px;
}
.icons #github-icon {
    height: 30px;
}
.icons #heisen-icon {
    height: 34px;
}
.icons #telegram-icon {
    height: 34px;
}
a.button {
    margin: 8px 0;
}
